{% load i18n %}

<h3>
    {% trans 'datamanagement:home:invites:header' %}
</h3>
<p>
    {% trans 'datamanagement:home:invites:info_text' %}
</p>
<table class="w-100 dt">
    <thead>
        <tr>
            <th class="w-50">
                {% trans 'datamanagement:global:experiment' %}
            </th>
            <th class="w-25">
                {% trans 'datamanagement:global:num' %}
            </th>
            <th class="w-25">
                {% trans 'datamanagement:global:actions' %}
            </th>
        </tr>
    </thead>
    {% for experiment, num in invites %}
        <tr>
            <td>
                <a href="{% url 'experiments:detail' experiment.pk %}">
                    {{ experiment }}
                </a>
            </td>
            <td>
                {{ num }}
            </td>
            <td>
                 <a  href="{% url 'datamanagement:delete_invites' experiment.pk %}"
                        title="{% trans 'datamanagement:home:delete_invites' %}"
                        class="icon-delete">
                        
                    </a>
            </td>
        </tr>
    {% endfor %}
</table>
<br/>