{% load i18n %}
{% load display_threshold %}
{% load transformat %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#collapse-participants">
                {% trans 'datamanagement:home:participants:header' %}
                ({{ participants_num }})
            </a>
        </h5>
    </div>
    <div id="collapse-participants" class="panel-collapse collapse">
        <div class="panel-body">
            <h3>
                {% trans 'datamanagement:home:participants:header' %}
            </h3>
            <p>
                {% threshold participants_with_appointment as participants_with_appointment %}
                {% transformat 'datamanagement:home:participants:info_text' participants_with_appointment %}
            </p>
            <table class="w-100 dt">
                <thead>
                <tr>
                    <th class="w-25">
                        {% trans 'datamanagement:global:participant' %}
                    </th>
                    <th class="w-25">
                        {% trans 'datamanagement:global:last_appointment' %}
                    </th>
                    <th class="w-25">
                        {% trans 'datamanagement:home:participants:num_appointments' %}
                    </th>
                    <th>
                        {% trans 'datamanagement:home:participants:has_account' %}
                    </th>
                    <th>
                        {% trans 'datamanagement:global:actions' %}
                    </th>
                </tr>
                </thead>
                {% for participant, last_appointment, num_appointments in participants %}
                    <tr>
                        <td>
                            <a href="{% url 'participants:detail' participant.pk %}">
                                {{ participant.pk }} - {{ participant.name }}
                            </a>
                        </td>
                        <td>
                            {{ last_appointment|date:"Y-m-d" }}
                        </td>
                        <td>
                            {{ num_appointments }}
                        </td>
                        <td class="icon-yesno text-center">
                            {{ participant.api_user|yesno:"," }}
                        </td>
                        <td class="text-center"> {#  TODO: this #}
                            {#                 <a  href="{% url 'datamanagement:delete_participants' experiment.pk %}"#}
                            {#                        title="{% trans 'datamanagement:home:delete_participants' %}"#}
                            {#                        class="icon-delete">#}
                            {#                        #}
                            {#                    </a>#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br/>

            <h4>
                {% trans 'datamanagement:home:participants:header2' %}
            </h4>
            <p>
                {% threshold participants_without_appointment as participants_without_appointment %}
                {% transformat 'datamanagement:home:participants:info_text2' participants_without_appointment %}
            </p>
            <table class="w-100 dt">
                <thead>
                <tr>
                    <th class="w-25">
                        {% trans 'datamanagement:global:participant' %}
                    </th>
                    <th class="w-50">
                        {% trans 'datamanagement:home:participants:registered' %}
                    </th>
                    <th>
                        {% trans 'datamanagement:home:participants:has_account' %}
                    </th>
                    <th>
                        {% trans 'datamanagement:global:actions' %}
                    </th>
                </tr>
                </thead>
                {% for participant in participants_no_app %}
                    <tr>
                        <td>
                            <a href="{% url 'participants:detail' participant.pk %}">
                                {{ participant.pk }} - {{ participant.name }}
                            </a>
                        </td>
                        <td>
                            {{ participant.created|date:"Y-m-d" }}
                        </td>
                        <td class="icon-yesno text-center">
                            {{ participant.api_user|yesno:"," }}
                        </td>
                        <td class="text-center">
                            <a  href="{% url 'datamanagement:delete_participant' participant.pk %}"
                                title="{% trans 'datamanagement:home:delete_participant' %}"
                                class="icon-delete delete-participant">
                                
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
