{% extends 'mail/base.html' %}

{% block subtitle %}
{% endblock %}

{% block content %}
    <p>
        <strong>English below</strong>
    </p>
    <p>
        Beste {{ name }},
    </p>
    <p>
        Een administrator heeft een account voor je aangemaakt voor het UiL OTS proefpersoonwervingssyteem!
    </p>
    <p>
        Login: {{ email }}<br/>
        Wachtwoord: Uw Solis-wachtwoord
    </p>
    <hr>
    <p>
        Dear {{ name }},
    </p>
    <p>
        An administrator has created an account for you for the UiL OTS participant recruitment system!
    </p>
    <p>
        Login: {{ email }}<br/>
        Password: Your solis password
    </p>
{% endblock %}


{% block footer %}
{% endblock %}