{% extends 'mail/base.html' %}

{% block subtitle %}
{% endblock %}

{% block content %}
    <p>
        <strong>English below</strong>
    </p>
    <p>
        Beste {{ name }},
    </p>
    <p>
        Een administrator heeft een account voor je aangemaakt voor het UiL OTS proefpersoonwervingssyteem!
    </p>
    <p>
        Login: {{ email }}<br/>
        {% if not has_password %}
            <a href="{{ link }}">Klik hier om uw wachtwoord in te stellen.</a>
        {% else %}
            Het wachtwoord krijg je van de adminstrator. Je kunt dan <a href="{{ login_link }}">hier</a> inloggen.
        {% endif %}
    </p>
    {% if not has_password %}
        <p>
            Deze link blijft 24 uur geldig. Daarna kunt u een nieuwe link krijgen via 'wachtwoord vergeten?' op het inlogscherm.
        </p>
        <p>
            Indien de bovenstaande link niet werkt, klik <a href="{{ alternative_link }}">hier</a> en vul uw token in: {{ token }}
        </p>
    {% endif %}
    <hr>
    <p>
        Dear {{ name }},
    </p>
    <p>
        An administrator has created an account for you for the UiL OTS participant recruitment system!
    </p>
    <p>
        Login: {{ email }}<br/>
        {% if not has_password %}
            <a href="{{ link }}">Click here to set a password</a>
        {% else %}
            The password will be given to you by the administrator. You will then be able to login <a href="{{ login_link }}">here</a>.
        {% endif %}
    </p>
    {% if not has_password %}
        <p>
            This link stays valid for 24 hours. If it has expired, you can request a new link through clicking 'Forgot password' at the login screen.
        </p>
        <p>
            If the link doesn't work, click  <a href="{{ alternative_link }}">here</a> and fill in your token: {{ token }}
        </p>
    {% endif %}
{% endblock %}


{% block footer %}
{% endblock %}