{% load i18n %}
<div class="form-check {{ widget.attrs.valid }}">
    <input class="form-check-input" id="id_languages_mono_dutch" type="radio" name="languages" value="Nederlands"
           {% if mono_dutch_checked %}checked{% endif %}
           required
    />
    <label class="form-check-label" for="id_languages_mono_dutch">
        {% translate 'parent:forms:signup:languages:mono_dutch' %}
    </label>
</div>

<div class="form-check {{ widget.attrs.valid }}">
    <input class="form-check-input" id="id_languages_mono_other" type="radio" name="languages" value=""
           {% if mono_other_checked %}checked{% endif %}
           required
    />
    <label class="form-check-label" for="id_languages_mono_other">
        {% translate 'parent:forms:signup:languages:mono_other' %}
    </label>
</div>


<div class="uu-form-field">
    <select class="w-100" id="id_languages_mono_select" name="languages" disabled required>
        <option></option>
        {% for group_name, group_choices, group_index in widget.optgroups %}
            {% for option in group_choices %}
                {# kinda ugly but avoid confusion by hiding the Dutch option under "other language" #}
                {% if option.value.strip != "Nederlands" %}
                <option value="{{ option.value }}" {% if mono_other_checked and option.value in value %}selected{% endif %}>{{ option.label }}</option>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </select>
</div>

<div class="form-check {{ widget.attrs.valid }}">
    <input class="form-check-input" id="id_languages_multi" type="radio" name="languages" value=""
           {% if multi_checked %}checked{% endif %}
           required
    />
    <label class="form-check-label" for="id_languages_multi">
        {% translate 'parent:forms:signup:languages:multi' %}
    </label>
</div>

<div class="uu-form-field">
    <select class="w-100" id="id_languages_multi_select" name="languages" multiple="true" disabled required>
        <option></option>
        {% for group_name, group_choices, group_index in widget.optgroups %}
            {% for option in group_choices %}
                <option value="{{ option.value }}" {% if multi_checked and option.value in value %}selected{% endif %}>{{ option.label }}</option>
            {% endfor %}
        {% endfor %}
    </select>
</div>

<script type="text/javascript" nonce="{{ request.csp_nonce }}">
    $(function () {
        $('#id_languages_multi_select').prop('disabled', !$('#id_languages_multi').prop('checked'));
        $('#id_languages_mono_select').prop('disabled', !$('#id_languages_mono_other').prop('checked'));
        $('input[type=radio]').change(() => {
            if (!$('#id_languages_multi').prop('checked')) {
                $('#id_languages_multi_select').prop('disabled', true);
                $('#id_languages_multi_select').val([]).trigger('change');
            }
            else {
                $('#id_languages_multi_select').prop('disabled', false);
            }
            if (!$('#id_languages_mono_other').prop('checked')) {
                $('#id_languages_mono_select').prop('disabled', true);
                $('#id_languages_mono_select').val(null).trigger('change');
            }
            else {
                $('#id_languages_mono_select').prop('disabled', false);
            }
        });

        $('#id_languages_multi_select').select2({ tags: true });
        $('#id_languages_mono_select').select2({ tags: true });
    });
</script>
