{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% trans 'comments:home:header' %}
        </h1>
        <p>
            {% trans 'comments:home:info_text' %}
        </p>
        <table class="dt" width="100%" data-language="{% datatables_lang %}">
            <thead>
                <tr>
                    <th>
                        {% get_verbose_field_name "comments" "Comment" "id" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "comments" "Comment" "participant" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "email" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "comments" "Comment" "leader" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "comments" "Comment" "experiment" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "comments" "Comment" "comment" %}
                    </th>
                    <th>
                        {% trans 'comments:home:table:actions' %}
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for comment in object_list %}
                    <tr>
                        <td>
                            {{ comment.pk }}
                        </td>
                        <td>
                            {{ comment.participant.name }}
                        </td>
                        <td>
                            {{ comment.participant.email }}
                        </td>
                        <td>
                            {{ comment.leader.name }}
                        </td>
                        <td>
                            {{ comment.experiment }}
                        </td>
                        <td>
                            {{ comment.comment }}
                        </td>
                        <td>
                            Nada!
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
</div>
{% endblock %}