{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'comments:new:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% trans 'comments:new:header' %}
        </h1>
        <p>
            {% trans 'comments:new:info_text' %}
        </p>
        <form method="post">
            {% csrf_token %}
            <table width="100%">
                {{ form.as_table }}
            </table>
            <br/>
            <div class="float-right">
                <button type="submit">{% trans 'comments:globals:add_button' %}</button>
            </div>
        </form>
        <br/>
        <br/>
    </div>
</div>
{% endblock %}