{% extends 'base/babex_base.html' %}
{% load i18n %}
{% load static %}
{% load vue3 %}

{% block html_head %}
{{ block.super }}

    {# to enable live reload with vite in development, uncomment below #}
    <script type="module" src="http://localhost:8081/static/vue/@vite/client"></script>
    <script type="module" src="http://localhost:8081/static/vue/src/main.ts"></script>

    {# and comment this #}
    {#% vue_assets %#}

<script nonce="{{ request.csp_nonce }}">
    // pass information about current user to vue app
    function getUser() {
        return JSON.parse("{{ request.user.to_json|escapejs }}");
    }

    {% get_current_language as LANGUAGE_CODE %}
    function getLanguage() {
        return '{{ LANGUAGE_CODE|escapejs }}';
    }
</script>
{% endblock %}

{% block uu-content %}
{{ block.super }}
<div id="toast_container" class="position-fixed toast-container bottom-0 end-0 p-3">
</div>
{% endblock %}
