Django>=4.0,<4.1
django-axes
django-braces
django-csp
django-simple-menu
django-extensions # QoF for the admin, adds a lot of useful manage.py commands
pip-tools
cryptography
PyJWT
bpython
djangorestframework
django-debug-toolbar
cryptography
python-dateutil
-e git+https://github.com/DH-IT-Portal-Development/django-shared-core@develop#egg=cdh-django-core
mysqlclient
django-auth-ldap
django-impersonate
pytest-django
-e git+https://github.com/UiL-OTS-labs/ageutil@main#egg=ageutil
matplotlib
