Django>=2.0,<2.1
django-braces
django-csp
django-simple-menu
django-extensions # QoF for the admin, adds a lot of useful manage.py commands
pip-tools
cryptography
PyJWT
bpython
djangorestframework
django-debug-toolbar
cryptography
python-dateutil
-e git+https://github.com/UiL-OTS-labs/django-shared-core.git@v1.0.0-rc2#egg=uil-django-core
mysqlclient<1.4.0
django-auth-ldap


# Included to downgrade to a Py 3.4 compatible version (and can be removed after an upgrade to 3.5)
pygments<2.4