.oneline-form label {
    display: inline-block;
    margin-right: 5px;
}
.oneline-form input {
    width: auto;
}

/* How dare you call this a CSS Hack! It's not a CSS hack, it's a horrible CSS hack! */
.behind-icon {
    margin-right: -15px;
    font-weight: bold;
}