{% extends 'base/babex_base.html' %}
{% load i18n %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <p>Uw e-mailadres is bevestigd!</p>

        <p>Het kan even duren voordat uw account geactiveerd is. Vanaf dat moment kunt u inloggen in het Babylabportaal.</p>

        <p>Zodra er een onderzoek is waaraan uw kind kan meedoen, dan wordt er telefonisch contact met u opgenomen. Wanneer het telefonisch niet lukt, dan zal de assistent van het Babylab via e-mail contact met u proberen op te nemen.</p>

        <p>Hopelijk tot snel in het Babylab!</p>
    </div>
</div>
{% endblock %}
