{% extends 'vue/base.html' %}
{% load i18n %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
    <h2>{% trans 'signup:header' %}</h2>

    <p>
        Fijn dat u uw kind wilt aanmelden om ons te helpen bij ons onderzoek! De persoonsgegevens die u hieronder
        opgeeft zullen voor verschillende doelen worden gebruikt:
    </p>
    <ul>
        <li>om te kijken aan welk experiment uw kind kan meedoen en </li>
        <li>om contact met u te kunnen opnemen</li>
        <li>door wetenschappers voor hun onderzoek</li>
    </ul>
    <p>
        De gegevens over u en uw kind worden met de grootste vertrouwelijkheid behandeld. Ze worden in principe verwijderd als uw kind
        ongeveer 2,5 jaar oud is en niet meer mee kan doen met ons onderzoek. U kunt hieronder ook aangeven of wij
        de gegevens langer mogen bewaren voor mogelijk vervolgonderzoek of voor ander onderzoek.
    </p>

    <ul>
        <li>
            Wanneer u uw gegevens (bijv. uw emailadres) wilt laten aanpassen, dan kunt u een e-mail sturen naar babylab.ilslabs@uu.nl.
        </li>
        <li>
            Wanneer u uw gegevens wilt verwijderen, dan kan dat via het
            <a href="{% url 'data' %}">Babylabportaal</a>.
            Na registratie kan het een paar dagen duren voordat u kunt inloggen.
        </li>
        <li>
            Wilt u meer weten over de manier waarop wij omgaan met uw persoonsgegevens en die van uw kind? Lees dan onze
            <a href="#TODO">privacyverklaring</a>
        </li>
    </ul>
    <p>
        Woont u niet in Utrecht of omgeving? Houd er dan alstublieft rekening mee dat jonge kinderen na een lange
        reistijd vaak te moe zijn (of geen zin meer hebben) om mee te doen met een onderzoek.
    </p>

    <form method="post" class="uu-form">
        {% csrf_token %}
        {{ form }}

        <input class="btn btn-primary" type="submit" value="Versturen"/>
    </form>
    </div>
</div>
{% endblock %}
