{% extends 'mail/base_new.html' %}
{% load i18n %}

{% block banner %}
    {% translate 'experiments:call:deactivate:mail:subject' %}
{% endblock %}

{% block content %}
    <p>
        Beste {{parent_name}},
    </p>

    <p>
        Uw kind, {{participant_name}}, is successvol uitgeschreven uit het Babylabportaal.
    </p>

    <p>
        Hartelijk dank voor de getoonde interesse in ons onderzoek.
    </p>

    <p>
        Vriendelijke groet,<br/><br/>
        Het team van het Babylab voor Taalonderzoek
    </p>
{% endblock %}
