{% extends 'mail/base_new.html' %}
{% load i18n %}

{% block banner %}
    {% translate 'experiments:call:deactivate:mail:subject' %}
{% endblock %}

{% block content %}
    <p>
        Beste ouder/verzorger,
    </p>

    <p>
        Enige tijd geleden heeft u uw kind/kinderen opgegeven voor onderzoek bij het Babylab voor Taalonderzoek. U ontvangt deze mail nu, omdat ten minste één kind (inmiddels) ouder is dan 2,5 jaar. In de regel worden er geen onderzoeken met kinderen ouder dan 2,5 jaar gedaan in ons Babylab. Daarom zijn de gegevens van u en van uw kind na het sturen van dit bericht uit de database van het Babylab verwijderd.
    </p>

    <p>
        Mocht u nog een ander, jonger kind bij het Babylab hebben ingeschreven, dan blijven de gegevens van dat kind (en uw contactgegevens) in ons systeem bewaard. En natuurlijk is het ook nog mogelijk om een broertje of zusje onder de 2,5 jaar aan te melden. U kunt dit doen via <a href="https://babylab.wp.hum.uu.nl/aanmelden/">https://babylab.wp.hum.uu.nl/aanmelden/</a>.
    </p>

    <p>
        Heeft u vragen over deze e-mail, dan kunt u een bericht sturen naar <a href="mailto:babylab.ilslabs@uu.nl">babylab.ilslabs@uu.nl</a>.
        Wij zullen uw vragen zo spoedig mogelijk proberen te beantwoorden.
    </p>

    <p>
        Wij willen u hartelijk danken voor uw interesse in ons onderzoek!
    </p>

    <p>
        Vriendelijke groet,<br/><br/>
        Het team van het Babylab voor Taalonderzoek
    </p>
{% endblock %}
