{% extends 'babex/base.html' %}

{% block content %}
<div class="row">
  <div class="col-10">
    {% include 'agenda/calendar_fragment.html' %}
    <script>
        function deselectEvents() {
            document.querySelectorAll('.event-selected').forEach(
                (el) => {el.classList.remove('event-selected');}
            );
        }

        function onSelect(selectionInfo) {
            deselectEvents();
            let params = `?start=${selectionInfo.start.toISOString()}&end=${selectionInfo.end.toISOString()}`;
            htmx.ajax('GET', "{% url 'agenda:closing.add' %}" + params, '#agenda_actions');
        }

        function onEventClick(eventInfo) {
            deselectEvents();
            let element = eventInfo.el;
            element.classList.add('event-selected');

            let event = eventInfo.event;
            if (event.extendedProps.category === 'appointment') {
                htmx.ajax('GET', "/agenda/appointment/" + event.id, '#agenda_actions');
            }
            else {
                htmx.ajax('GET', "/agenda/closing/" + event.id, '#agenda_actions');
            }
        }

        getCalendar().setOption('select', onSelect);
        getCalendar().setOption('eventClick', onEventClick);
    </script>
  </div>
  <div class="col-2">
    <div id="agenda_actions"></div>
  </div>
</div>
{% endblock %}
