{% load i18n %}

<script nonce="{{ request.csp_nonce }}">
    $(function () {
        $('input[name="{{ widget.name }}_other"]').click(function () {
            $('#id_language_1').prop('checked', true);
        });
        $('#id_language_0').click(function () {
            $('input[name="{{ widget.name }}_other"]').val('');
        });
    });
</script>

<div id="id_language">
    <div>
        <label for="id_language_0">
            <input class="form-check-input" type="radio" name="{{ widget.name }}" value="nl" id="id_language_0" required="" {% if widget.value == 'nl' %}checked="checked"{% endif %}>
            Nederlands
        </label>
    </div>
    <div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="{{ widget.name }}" value="OTHER" id="id_language_1" required="" {% if widget.value != 'nl' and widget.value != 'I' %}checked="checked"{% endif %}>
            <label>{% trans _('Other') %}</label>
        </div>
        <input class="form-control" name="{{ widget.name }}_other" id="id_language_1_other" value="{{ widget.other_value|default_if_none:"" }}">
    </div>

</div>
