{% extends "base/babex_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}
{% load static %}

{% block header_title %}
    {% trans 'datamanagement:thresholds:edit:header' %} - {{ block.super }}
{% endblock %}

{% block html_head %}
        <script src="{% static 'widgets/js/timespan_widget.js' %}"></script>
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% trans 'datamanagement:thresholds:edit:header' %}
        </h1>
        <p>
            {% trans 'datamanagement:thresholds:edit:info_text' %}
        </p>
        <form method="post">
            {% csrf_token %}
            <table width="100%">
                {{ form.as_table }}
            </table>
            <br/>
            <div class="float-right">
                <button type="submit">{% trans 'datamanagement:global:save_button' %}</button>
            </div>
            <br/>
            <br/>
        </form>
    </div>
</div>
{% endblock %}