{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'leaders:convert:header' %} - {{ block.super }}
{% endblock %}


{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% trans 'leaders:convert:header' %}
        </h1>
        <form method="post">{% csrf_token %}
            <p>{% transformat 'leaders:convert:text' object.name %}</p>
            <div class="button" style="display: inline-block">
                <a href="{% url 'leaders:home' %}" >
                    {% trans 'leaders:convert:cancel' %}
                </a>
            </div>
            <input type="submit" value="{% trans 'leaders:convert:confirm' %}">
        </form>
        <br/>
    </div>
</div>
{% endblock %}