{% extends 'base/base.html' %}
{% load static %}
{% load vue3 %}

{% block html_head %}
{{ block.super }}
    {# to enable live reload with vite in development, uncomment below #}
    {# <script type="module" src="http://localhost:8081/@vite/client"></script> #}
    {# <script type="module" src="http://localhost:8081/src/main.ts"></script> #}

    {# and comment this #}
    {% vue_assets %}
{% endblock %}

{% block uu-content %}
    <div class="uu-hero">
        <h1>ILS Babylab</h1>
    </div>
    {{ block.super }}
<div id="toast_container" class="position-fixed toast-container bottom-0 end-0 p-3">
</div>
{% endblock %}
