{% extends 'base/babex_base.html' %}
{% load i18n %}

{% block content %}
    <style>
        .card.canceled div {
            color: #aaa;
            text-decoration: line-through;
        }
    </style>
    <div class="uu-sidebar-container uu-sidebar-right uu-sidebar-mobile-bottom">
        <aside class="uu-sidebar" >
            <h5>Babylab voor Taalonderzoek</h5>
            <p>
Het Babylab voor Taalonderzoek is onderdeel van de labs van het Institute for Language Sciences (ILS), Universiteit Utrecht.
            </p>
            <p>In het Babylab doen wij onderzoek naar de manier waarop kinderen hun moedertaal/talen leren.</p>
            <h5>Contact</h5>
            <p>
                Voor vragen en meer informatie kunt u altijd contact met ons opnemen.
            </p>
            <p>
                Website: <a href="https://babylab.wp.hum.uu.nl/">https://babylab.wp.hum.uu.nl/</a>
            </p>
            <p>
                E-mail: <a href="mailto:babylab.ilslabs@uu.nl">babylab.ilslabs@uu.nl</a>
            </p>
        </aside>
        <div class="uu-sidebar-content" >
            <section>
                <h3>Welkom bij het Babylab voor Taalonderzoek</h3>
                <p>
                    U kunt uw kind/kinderen aanmelden bij het Babylab voor Taalonderzoek.
                </p>
                <p>
                    <a href="{% url 'signup' %}" class="btn btn-primary">AANMELDEN</a>
                </p>
                <p>
                    Heeft u uw kind(eren) ingeschreven?  Dan kunt u hier inloggen in het Babylabportaal. U kunt daar:
                    <ul>
                        <li>uw afspraken zien;</li>
                        <li>uw kind(eren) uitschrijven.</li>
                    </ul>
                </p>
                <p>
                    <a href="{% url 'overview' %}" class="btn btn-secondary">BABYLABPORTAAL</a>
                </p>
        </div>
    </div>
{% endblock %}
