{% extends 'base/base.html' %}
{% block content %}
<div class="uu-container">
    Welcome to the parent app.
</div>

<div class="uu-container">
    <div class="col-12">
        <h3>appointments</h3>
        {% for appointment in appointments %}
            {{ appointment.experiment }}
        {% endfor %}
    </div>
</div>
<div class="uu-container">
    <div class="col-12">
        <h3>Surveys</h3>
        {% for invitation in survey_invites %}
            <a href="{% url 'survey' invitation.survey %}">{{ invitation.survey_name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
