{% extends 'vue/base.html' %}
{% load i18n %}
{% load vue3 %}

{% block content %}
    <style>
        .card.canceled div {
            color: #aaa;
            text-decoration: line-through;
        }
    </style>
    <div class="uu-sidebar-container uu-sidebar-right uu-sidebar-mobile-bottom">
        <aside class="uu-sidebar" >
            <p>{% translate 'parent:sidebar:general' %}</p>
            {% include 'parent/side_menu.html' %}
        </aside>
        <div class="uu-sidebar-content" >
            <section>
                <h3>{% translate 'parent:appointments' %}</h3>
                {% for appointment in appointments %}
                    <div class="card mt-3 {% if appointment.outcome == 'CANCELED' %} canceled {% endif %}">
                        <div class="card-body">
                            <h5 class="card-title"> {{ appointment.experiment }}
                                {% if appointment.outcome == 'CANCELED' %}
                                    - {% translate 'parent:appointment:canceled' %}
                                {% endif %}
                            </h5>
                            <div>Participant: {{ appointment.participant }}</div>
                            <div>Datum: {{ appointment.start|date:"l d M Y, H:i"|lower }}</div>
                            <div>Tijd:  {{ appointment.start|time }}</div>
                            <div>Totale duur bezoek:  {{ appointment.session_duration }}</div>
                            <div class="mt-3">Naam onderzoeker: {{ appointment.leader }}</div>
                            <div>Telefoonnummer onderzoeker: {{ appointment.contact_phone }}</div>

                            <div class="mt-3">
                            {% if appointment.outcome != 'CANCELED' %}
                                {% vue babex.CancelAppointment :id=appointment.id %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% translate 'parent:appointments:no_appointments' %}
                {% endfor %}
                {% if appointments %}
                    <p class="mt-2">Als u een afspraak wilt verplaatsen, neem dan contact op met de onderzoeker via bovenstaand telefoonnummer of via e-mail: <a href="mailto:babylab.ilslabs@uu.nl">babylab.ilslabs@uu.nl</a>.</p>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}
