{% extends 'vue/base.html' %}
{% load i18n %}
{% load vue3 %}

{% block content %}
    <div class="uu-sidebar-container uu-sidebar-right">
        <aside class="uu-sidebar" >
            <p>{% translate 'parent:sidebar:general' %}</p>

            {% include 'parent/side_menu.html' %}
        </aside>
        <div class="uu-sidebar-content" >
            <section>
                <p>
                    Wilt u {{ name }} uitschrijven voor onderzoek bij het Babylab voor Taalonderzoek?
                    De gegevens van {{ name }} worden dan uit ons systeem verwijderd. Dit betekent dat uw kind niet meer kan deelnemen aan één van onze onderzoeken.
                </p>
                {% with msg=_('parent:data:remove:confirm') %}
                    <form action="{% url 'data.deactivate' %}" method="post" onsubmit="return confirm('{{msg}}')">
                        {% csrf_token %}
                        <button class="btn btn-danger">{% translate 'parent:data:remove:button' %}</button>
                    </form>
                {% endwith %}
            </section>
        </div>
    </div>
{% endblock %}
