{% load i18n %}
<script nonce="{{ request.csp_nonce }}">
    $(function () {
        $('input[name="{{ widget.name }}_other"]').click(function () {
            $('#id_sex_2').prop('checked', true);
        });
        $('input[name="{{ widget.name }}"]').click(function () {
            $('input[name="{{ widget.name }}_other"]').val('');
        });
    });
</script>
<div id="id_sex">
    <div>
        <label for="id_sex_0">
            <input class="form-check-input" type="radio" name="{{ widget.name }}" value="M" id="id_sex_0" required="">
            {% trans 'participant:attribute:sex:male' %}
        </label>
    </div>
    <div>
        <label for="id_sex_1">
            <input class="form-check-input" type="radio" name="{{ widget.name }}" value="F" id="id_sex_1" required="">
            {% trans 'participant:attribute:sex:female' %}
        </label>
    </div>
    <div>
        <label for="id_sex_2">
            <input class="form-check-input" type="radio" name="{{ widget.name }}" value="OTHER" id="id_sex_2" required="">
            {% trans 'participant:attribute:sex:other' %}
            <input class="form-control" name="{{ widget.name }}_other" id="id_sex_1_other" value="{{ widget.other_value|default_if_none:"" }}">
        </label>
    </div>

</div>
