{% extends "vue/base.html" %}
{% load vue3 %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'participants:home:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% trans 'participants:demographics:header' %}
        </h1>
        <p>
            A brief overview of the age's of the current participants.
        </p>
        <img src="{% url 'participants:png' %}" width=800 height=450 alt="Unable to load graph"></img>
        <br/>
    </div>
</div>
{% endblock %}
