{% extends "vue/base.html" %}
{% load vue3 %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
{% transformat 'participants:detail:header' participant.fullname %} - {{ block.super }}
{% endblock %}

{% block html_head %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
    $(function () {
        $('.dt_custom').DataTable({
            order: [[1, 'desc']],
            searching: false,
            lengthChange: false,
        });
    });
</script>
<style>
    .list-group a {
        text-decoration: none;
    }

    section {
        margin-top: 2em;
    }
</style>
{% endblock %}

{% block content %}
<div class="uu-inner-container row gx-4">
    <div class="col-3">
        <div class="list-group">
            <a href="#participant-general" class="list-group-item list-group-item-action">General information</a>
            <a href="#participant-contact" class="list-group-item list-group-item-action">Contact details</a>
            <a href="#participant-appointments" class="list-group-item list-group-item-action">Appointments</a>
        </div>
    </div>
    <div class="col-9">
        <h1>{{ participant.name }}</h1>
        <section id="participant-general">
            <h2>General information</h2>
            <table class="table">
                <tr>
                    <td width="40%">
                        {% get_verbose_field_name "participants" "Participant" "name" %}
                    </td>
                    <td width="60%">
                        {{ participant.name|default_if_none:'' }}
                    </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "birth_date" %} </td>
                    <td> {{ participant.birth_date|date:"Y-m-d"|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "birth_weight" %} </td>
                    <td> {{ participant.birth_weight|default_if_none:'' }} </td>
                </tr>
                <tr>
                    <td> {% trans "participants:attribute:getational_age" %} </td>
                    <td> {{ participant.gestational_age }} </td>
                </tr>
                <tr>
                    <td> {% trans "participants:attribute:age" %} </td>
                    <td> {{ participant.age_long }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "language" %} </td>
                    <td> {{ participant.language }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "dyslexic_parent" %} </td>
                    <td> {{ participant.dyslexic_parent|yesno:_("yes,no") }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "multilingual" %} </td>
                    <td> {{ participant.multilingual|yesno:_("yes,no")|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "sex" %} </td>
                    <td> {{ participant.get_sex_display|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "created" %} </td>
                    <td> {{ participant.created }} </td>
                </tr>
            </table>
        </section>

        <section id="participant-contact">
            <h2>Contact details</h2>
            <table class="table">
                <tr>
                    <td width="40%"> {% get_verbose_field_name "participants" "Participant" "parent_name" %} </td>
                    <td width="60%"> {{ participant.parent_name|default_if_none:'' }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "phonenumber" %} </td>
                    <td> {{ participant.phonenumber|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "phonenumber_alt" %} </td>
                    <td> {{ participant.phonenumber_alt|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "email" %} </td>
                    <td>
                        <a href="mailto:{{ participant.email }}">
                            {{ participant.email }}
                        </a>
                    </td>
                </tr>
            </table>
        </section>

        <section id="participant-appointments">
            <h2>Appointments</h2>
            <table class="dt_custom" width="100%">
                <thead>
                    <tr>
                        <th width="40%">
                            {% trans 'participants:detail:experiments' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:datetime' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:place' %}
                        </th>
                    </tr>
                </thead>
                {% for appointment in participant.appointments.all %}
                <tr>
                    <td>
                        {{ appointment.experiment }}
                    </td>
                    <td>
                        {% if appointment.timeslot %}
                        {{ appointment.timeslot.datetime|date:"Y-m-d H:i" }}
                        {% endif %}
                    </td>
                    <td>
                        {% if appointment.timeslot %}
                        {{ appointment.place }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
</div>
{% endblock %}
