{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% transformat 'participants:detail:header' participant.name %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script>
        $(function () {
            $('.dt_custom').DataTable();
        });
    </script>
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <div class="float-right button button-colored">
            <a href="#">
                {% trans 'participants:detail:edit_participant' %}
            </a>
        </div>
        <h1>
            {% transformat 'participants:detail:header' participant.name %}
        </h1>
    </div>
    <div class="col-5">
        <table width="100%">
            <thead>
                <tr>
                    <th>
                        {% trans 'participant:detail:table_header' %}
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tr>
                <td width="40%">
                    {% get_verbose_field_name "participants" "Participant" "name" %}
                </td>
                <td width="60%">
                    {{ participant.name|default_if_none:_('Unknown') }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "email" %}
                </td>
                <td>
                    <a href="mailto:{{ participant.email }}">
                        {{ participant.email }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    {% transformat 'participants:detail:secondary_emails' %}
                </td>
                <td>
                    {% for email in participant.secondaryemail_set.all %}
                        <a href="mailto:{{ email.email }}">{{ email.email }}</a>,
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "language" %}
                </td>
                <td>
                    {{ participant.language }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "dyslexic" %}
                </td>
                <td>
                    {{ participant.dyslexic|yesno:_("yes,no") }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "birth_date" %}
                </td>
                <td>
                    {{ participant.birth_date|date:"Y-m-d"|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "multilingual" %}
                </td>
                <td>
                    {{ participant.multilingual|yesno:_("options:many,one")|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "phonenumber" %}
                </td>
                <td>
                    {{ participant.phonenumber|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "handedness" %}
                </td>
                <td>
                    {{ participant.get_handedness_display|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "sex" %}
                </td>
                <td>
                    {{ participant.get_sex_display|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "social_status" %}
                </td>
                <td>
                    {{ participant.get_social_status_display|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "email_subscription" %}
                </td>
                <td>
                    {{ participant.email_subscription|yesno:_("yes,no") }}
                </td>
            </tr>
            <tr>
                <td>
                    {% get_verbose_field_name "participants" "Participant" "capable" %}
                </td>
                <td>
                    {{ participant.capable|yesno:_("yes,no") }}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-7">
        <table class="dt_custom" width="100%">
            <thead>
                <tr>
                    <th>
                        {% trans 'participants:detail:experiments' %}
                    </th>
                    <th>
                        {% trans 'participants:detail:datetime' %}
                    </th>
                    <th>
                        {% trans 'participants:detail:place' %}
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}