{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'participants:home:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <div class="float-right button button-colored">
            <a href="{% url 'participants:merge' %}">
                {% trans 'participants:home:merge_participants' %}
            </a>
        </div>
        <h1>
            {% trans 'participants:home:header' %}
        </h1>
        <p>
            {% trans 'participants:home:info_text' %}
        </p>
        <table class="dt" width="100%" data-language="{% datatables_lang %}">
            <thead>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "id" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "name" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "email" %}
                    </th>
                    <th>
                        {% transformat 'participants:detail:secondary_emails' %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "sex" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "phonenumber" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "language" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "multilingual" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "dyslexic" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "created" %}
                    </th>
                    {# The data-priority makes sure this column is always visible #}
                    <th data-priority="1">
                        {% trans 'participants:globals:actions' %}
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for participant in object_list %}
                    <tr>
                        <td>
                            {{ participant.pk }}
                        </td>
                        <td>
                            {{ participant.fullname }}
                        </td>
                        <td>
                            <a href="mailto:{{ participant.email }}">{{ participant.email }}</a>
                        </td>
                        <td>
                            {% for email in participant.secondaryemail_set.all %}
                                <a href="mailto:{{ email.email }}">{{ email.email }}</a>,
                            {% endfor %}
                        </td>
                        <td>
                            {{ participant.get_sex_display|default_if_none:"" }}
                        </td>
                        <td>
                            {{ participant.phonenumber }}
                        </td>
                        <td>
                            {{ participant.language }}
                        </td>
                        <td>
                            {{ participant.multilingual|yesno:_('options:many,one') }}
                        </td>
                        <td>
                            {{ participant.dyslexic|yesno:_('yes,no') }}
                        </td>
                        <td>
                            {{ participant.created|date:"Y-m-d" }}
                        </td>
                        <td>
                            <a
                                href="{% url 'participants:detail' participant.pk %}"
                                class="icon-detail"
                                title="{% trans 'participants:home:detail:title'  %}"
                            >
                                
                            </a>
                            <a
                                href="{% url 'participants:edit' participant.pk %}"
                                class="icon-update"
                                title="{% trans 'participants:home:update:title'  %}"
                            >
                               <span class="behind-icon">P</span> 
                            </a>
                            <a
                                href="{% url 'participants:update_specific_criteria' participant.pk %}"
                                class="icon-update"
                                title="{% trans 'participants:home:update_specific_criteria:title'  %}"
                            >
                                <span class="behind-icon">S</span> 
                            </a>
                            <a
                                href="{% url 'participants:delete' participant.pk %}"
                                class="icon-delete"
                                title="{% trans 'participants:home:delete:title' %}"
                            >
                                
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
</div>
{% endblock %}