{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'participants:home:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <div class="float-right button button-colored">
            <a href="#">
                {% trans 'participants:home:merge_participants' %}
            </a>
        </div>
        <h1>
            {% trans 'participants:home:header' %}
        </h1>
        <p>
            {% trans 'participants:home:info_text' %}
        </p>
        <table class="dt" width="100%" data-language="{% datatables_lang %}">
            <thead>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "id" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "name" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "email" %}
                    </th>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "phonenumber" %}
                    </th>
                    <th>
                        {% trans 'participants:globals:actions' %}
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for participant in object_list %}
                    <tr>
                        <td>
                            {{ participant.pk }}
                        </td>
                        <td>
                            {{ participant.name }}
                        </td>
                        <td>
                            {{ participant.email }}
                        </td>
                        <td>
                            {{ participant.phonenumber }}
                        </td>
                        <td>
                            <a
                                href="{% url 'participants:detail' participant.pk %}"
                                class="icon-detail"
                                title="{% trans 'participants:home:detail:title'  %}"
                            >
                                
                            </a>
                            <a href="{% url 'participants:edit' participant.pk %}" class="icon-update">
                                
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
</div>
{% endblock %}