{% extends 'mail/base_new.html' %}

{% block banner %}
    Afspraak afgezegd: {{ appointment.experiment.name }}
{% endblock %}

{% block content %}
    <p>
        Beste {{  appointment.participant.parent_name }},
    </p>

    <p>
        De volgende afspraak is geannuleerd:
    </p>

    <p>
        Experiment: {{ appointment.experiment.name }}<br>
        Datum: {{ appointment.start|date:"l d M Y, H:i"|lower }}<br>
        Tijd: {{ appointment.start|time }}<br>
    </p>

    <p>
        Vriendelijke groet,<br><br>
        Het team van het Babylab voor Taalonderzoek
    </p>
{% endblock %}
