{% extends 'base/babex_base.html' %}
{% load i18n %}

{% block content %}
    <div class="uu-container">
        <div class="col-12" >
            <h2>{% translate 'parent:mailauth:login:header' %}</h2>
            <p>
                {% translate 'parent:mailauth:login:intro' %}
            </p>
            <form method="post" class="uu-form">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button class="btn btn-primary">{% translate 'parent:mailauth:login:submit' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
