
tfoot input {
    /* 100% - padding (10 px) - border (2px) */
    width: calc(100% - 22px);
    padding: 5px;
    font-size: 0.8rem;
}

table {
    font-size: 0.8rem;
}

 tfoot button {
    padding: 5px 10px;
    font-size: 0.8rem;
    line-height: initial;
}