{% extends "base/base.html" %}
{% load i18n %}


{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "main:logged_out_title" %}</h2>
            {% trans "main:logged_out_text" %}
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}