Django<6
django-simple-menu
djangorestframework
django-debug-toolbar
cdh-django-core[all] @ git+https://github.com/CentreForDigitalHumanities/django-shared-core.git@v3.4.0-pre1
-e git+https://github.com/UiL-OTS-labs/django-vue3-tag@main#egg=django-vue3-tag
requests
-e git+https://github.com/UiL-OTS-labs/ageutil@main#egg=ageutil
