{% extends "base/babex_base.html" %}
{% load i18n %}
{% load transformat %}

{% block header_title %}
    {% trans 'main:home:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-hero">
        <h1>
            {% trans 'main:home:header' %}
        </h1>
    </div>
    <div class="uu-sidebar-container uu-sidebar-right">
        <aside class="uu-sidebar">
            {% if user.is_leader %}
                <p>{% translate 'main:home:leader' %}
                <ul>
                    {% for experiment in experiments %}
                        <li><a href="{% url 'experiments:detail' experiment.pk %}">{{ experiment.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

        </aside>
        <div class="uu-sidebar-content">
            <p>{% translate 'main:home:welcome' %}</p>

            {% if missing_outcome %}
                <p>{% translate 'main:home:appointment_outcome' %}</p>
                <ul>
                    {% for appointment in missing_outcome %}
                        <li>{{ appointment.timeslot.start | date }}:
                            <a href="{% url 'agenda:agenda.date' appointment.timeslot.start.date %}">{{ appointment.participant.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if open_calls %}
                <p class="mt-5">{% trans 'main:home:open_calls:text' %}</p>
                <ul>
                    {% for call in open_calls %}
                        <li><a href="{% url 'experiments:call' call.experiment.pk call.participant.pk %}">{{ call.participant.name }}</a> ({{ call.creation_date | date:'Y-m-d H:i' }})</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if call_back %}
                <p class="mt-5">{% translate "main:home:call_back" %}</p>
                <ul>
                    {% for call in call_back %}
                        <li><a href="{% url 'experiments:call' call.experiment.pk call.participant.pk %}">{{ call.participant.name }}</a>
                            {% if call.comment %}({{ call.comment }}){% endif %}
                            <a class="text-danger m-5" href="{% url 'experiments:call_hide' call.pk %}">
                                [{% translate "main:home:call_back:remove" %}]
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if signups > 1 %}
                <p>
                    {% transformat 'main:home:signups:text:plural' signups %} <a href="{% url 'signups:list' %}">{% translate 'main:home:signups:link' %}</a>
                </p>
            {% elif signups == 1 %}
                <p>
                    {% transformat 'main:home:signups:text:single' %} <a href="{% url 'signups:list' %}">{% translate 'main:home:signups:link' %}</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
