{% extends "base/babex_base.html" %}
{% load i18n %}
{% load transformat %}

{% block header_title %}
    {% trans 'main:home:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-hero">
        <h1>
            {% trans 'main:home:header' %}
        </h1>
    </div>
    <div class="uu-inner-container">
        <div class="col-10">
            <p>Hello {{ user.get_full_name }}!</p>

            {% if user.is_leader %}
            <p>You are a leader for the following experiments:</p>
            <ul>
                {% for experiment in experiments %}
                    <li><a href="{% url 'experiments:detail' experiment.pk %}">{{ experiment.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if missing_outcome %}
                <p>Please update the outcome of the following appointments:</p>
                <ul>
                    {% for appointment in missing_outcome %}
                        <li>{{ appointment.timeslot.start | date }}:
                            <a href="{% url 'agenda:agenda.date' appointment.timeslot.start.date %}">{{ appointment.participant.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if call_back %}
                <p>You should call back these parents:</p>
                <ul>
                    {% for participant in call_back %}
                        <li><a href="{% url 'participants:detail' participant.pk %}">{{ participant.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
