{% extends "base/babex_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}
{% load static %}

{% block header_title %}
    {% transformat 'users:change_password:header' form.user %} - {{ block.super }}
{% endblock %}

{% block content %}
<script src="{% static 'uil.core/js/form_helpers.js' %}"></script>
<script nonce="{{ request.csp_nonce }}">
$(function () {
    depends_on_value('keep_current_password', undefined, 'password');
    depends_on_value('keep_current_password', undefined, 'confirm_password');
});
</script>
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% transformat 'users:change_password:header' form.user %}
        </h1>
        <p>
            {% trans 'users:change_password:info_text' %}
        </p>
        <form method="post">
            {% csrf_token %}
            <table width="100%">
                {{ form.as_table }}
            </table>
            <br/>
            <div class="float-right">
                <button type="submit">{% trans 'main:globals:save_button' %}</button>
            </div>
        </form>
        <br/>
        <br/>
    </div>
</div>
{% endblock %}