{% extends "base/babex_base.html" %}
{% load i18n %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'users:home:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    {% if is_admins %}
        <div class="uu-hero justify-content-between align-items-center">
            <h1 class="h2">
                {% trans 'users:admins:header' %}
            </h1>

            <div class="btn-group btn-group-sm" role="group">
                <a href="{% url 'main:user_create' %}" class="btn btn-secondary">
                    {% trans 'users:home:create_admin' %}
                </a>
            </div>
        </div>
    {% else %}
        <div class="uu-hero justify-content-between align-items-center">
            <h1 class="h2">
                {% trans 'users:leaders:header' %}
            </h1>

            <div class="btn-group btn-group-sm" role="group">
                <a href="{% url 'main:user_create' %}" class="btn btn-secondary">
                    {% trans 'users:home:create_leader' %}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <table class="dt_custom" width="100%" data-language="{% datatables_lang %}">
            <thead>
                <tr>
                    <th>
                        {% get_verbose_field_name 'main' 'User' 'id' %}
                    </th>
                    <th>
                        {% get_verbose_field_name 'main' 'User' 'username' as username %}
                        {{ username|capfirst }}
                    </th>
                    <th>
                        {% trans 'users:home:name' %}
                    </th>
                    <th>
                        {% get_verbose_field_name 'main' 'User' 'email' as email %}
                        {{ email|capfirst }}
                    </th>
                    <th>
                        {% get_verbose_field_name 'main' 'User' 'is_active' as active %}
                        {{ active|capfirst }}
                    </th>
                    <th>
                        {% trans 'users:home:actions' %}
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for user in object_list %}
                    <tr>
                        <td>
                            {{ user.pk }}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.get_full_name }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td class="icon-yesno">
                            {{ user.is_active|yesno:"," }}
                        </td>
                        <td>
                            <button class="btn icon-menu dropdown-toggle p-1"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            ></button>
                            <ul class="dropdown-menu">
                                <li>
                                    {% if is_admins %}
                                        <a class="dropdown-item" href="{% url 'main:admin_edit' user.pk %}" >
                                    {% else %}
                                            <a class="dropdown-item" href="{% url 'main:user_edit' user.pk %}" >
                                    {% endif %}
                                    {% trans 'users:action:edit' %}
                                            </a>
                                </li>
                                {% if not is_saml %}
                                <li>
                                    {% if is_admins %}
                                        <a class="dropdown-item" href="{% url 'main:admin_password' user.pk %}" >
                                    {% else %}
                                            <a class="dropdown-item" href="{% url 'main:user_password' user.pk %}" >
                                    {% endif %}
                                    {% trans 'users:action:password' %}
                                            </a>
                                </li>
                                {% endif %}

                                {# We should not allow a user to delete their own account, that will we AWKWARD #}
                                {# https://www.youtube.com/watch?v=q9kDT44DBXs #}
                                {% if not request.user == user %}
                                    <li>
                                        {% if is_admins %}
                                            <a class="dropdown-item" href="{% url 'main:admin_delete' user.pk %}" >
                                        {% else %}
                                            <a class="dropdown-item" href="{% url 'main:user_delete' user.pk %}" >
                                        {% endif %}
                                            {% trans 'users:action:delete' %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
</div>

<script>
    $('.dt_custom').DataTable({
        dom: 'Bfrtip',
        buttons : ['pageLength'],
    });
</script>
{% endblock %}
