{% extends "vue/base.html" %}
{% load vue3 %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}
{% load messages %}

{% block header_title %}
{% transformat 'participants:detail:header' participant.fullname %} - {{ block.super }}
{% endblock %}

{% block html_head %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
    $(function () {
        $('.dt_custom').DataTable({
            searching: false,
            lengthChange: false,
        });
    });
</script>
<style>
    .list-group a {
        text-decoration: none;
    }

    section:not(:first-of-type) {
        margin-top: 2em;
    }

    a.experiment {
        text-decoration: none;
    }
    a.experiment:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block uu-content %}
<div class="uu-hero" id="hero">
    <h1>{{ participant.name }}</h1>
</div>
    <div class="uu-sidebar-container uu-sidebar-right uu-sidebar-sticky">
        <aside class="uu-sidebar" >
            <div class="uu-sidebar-collapse collapse">
            <div class="w-100">
                <h2>Sections</h2>
                <ul class="nav">
                    <li class="nav-item"><a href="#hero" class="nav-link">General information</a></li>
                    <li class="nav-item"><a href="#participant-contact" class="nav-link">Contact details</a></li>
                    <li class="nav-item"><a href="#participant-appointments" class="nav-link">Appointments</a></li>
                    <li class="nav-item"><a href="#participant-appointments" class="nav-link">{% trans 'participants:detail:calls' %}</a></li>
                    <li class="nav-item"><a href="#participant-comments" class="nav-link">Comments</a></li>
                    <li class="nav-item"><a href="#participant-surveys" class="nav-link">Surveys</a></li>
                </ul>
            </div>
            </div>
        </aside>
        <div class="uu-sidebar-content" >
{% display_messages messages False %}
        {% if participant.deactivated %}
            <p class="alert alert-warning mb-5">
                {% trans 'participants:detail:deactivated' %}{{ participant.deactivated|date }}
            </p>
        {% endif %}

        <section id="participant-general">
            <a href="{% url 'participants:edit' participant.pk %}" class="btn btn-secondary float-end">
                {% trans 'participants:detail:edit' %}
            </a>
            <h2>General information</h2>
            <table class="table">
                <tr>
                    <td width="40%">
                        {% get_verbose_field_name "participants" "Participant" "name" %}
                    </td>
                    <td width="60%">
                        {{ participant.name|default_if_none:'' }}
                    </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "birth_date" %} </td>
                    <td> {{ participant.birth_date|date:"Y-m-d"|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "birth_weight" %} </td>
                    <td> {{ participant.birth_weight|default_if_none:'' }} </td>
                </tr>
                <tr>
                    <td> {% trans "participants:attribute:getational_age" %} </td>
                    <td> {{ participant.gestational_age }} </td>
                </tr>
                <tr>
                    <td> {% trans "participants:attribute:age" %} </td>
                    <td> {{ participant.age_long }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "language" %} </td>
                    <td> {{ participant.language }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "dyslexic_parent" %} </td>
                    <td> {{ participant.dyslexic_parent|yesno:_("yes,no") }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "multilingual" %} </td>
                    <td> {{ participant.multilingual|yesno:_("yes,no")|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "sex" %} </td>
                    <td> {{ participant.get_sex_display|default_if_none:"" }} </td>
                </tr>
                <tr>
                    <td> {% get_verbose_field_name "participants" "Participant" "created" %} </td>
                    <td> {{ participant.created }} </td>
                </tr>
            </table>
        </section>

        <section id="participant-contact">
            {% include 'participants/contact.html' %}
        </section>

        <section id="participant-appointments">
            <h2>Appointments</h2>
            <table class="dt_custom" width="100%">
                <thead>
                    <tr>
                        <th width="40%">
                            {% trans 'participants:detail:experiments' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:datetime' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:appointment:location' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:appointment:outcome' %}
                        </th>
                    </tr>
                </thead>
                {% for appointment in participant.appointments.all %}
                <tr>
                    <td>
                        <a class="experiment" href="{% url 'experiments:detail' appointment.experiment.pk %}">
                            {{ appointment.experiment }}
                        </a>
                    </td>
                    <td>
                        {% if appointment.timeslot %}
                        {{ appointment.timeslot.datetime|date:"Y-m-d H:i" }}
                        {% endif %}
                    </td>
                    <td>
                        {{ appointment.location }}
                    </td>
                    <td>
                        {{ appointment.get_outcome_display }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>

        <section id="participant-calls">
            <h2>{% trans 'participants:detail:calls' %}</h2>
            <table class="dt_custom" width="100%">
                <thead>
                    <tr>
                        <th width="40%">
                            {% trans 'participants:detail:experiments' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:datetime' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:calls:status' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:calls:called_by' %}
                        </th>
                    </tr>
                </thead>
                {% for call in participant.call_set.all %}
                <tr>
                    <td>
                        <a class="experiment" href="{% url 'experiments:detail' call.experiment.pk %}">{{ call.experiment }}</a>
                    </td>
                    <td>
                        {{ call.creation_date|date:"Y-m-d H:i" }}
                    </td>
                    <td>
                        {{ call.get_status_display }}
                    </td>
                    <td>
                        {{ call.leader }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>

        <section id="participant-comments">
            {% include 'participants/comments.html' %}
        </section>

        <section id="participant-surveys">
            {% include 'participants/surveys.html' %}
        </section>
        </div>
    </div>
    <div class="col-9 ps-3">
    </div>
{% endblock %}
