{% extends "base/babex_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'participants:update:header' %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script nonce="{{ request.csp_nonce }}">
        function hideExtraForms(numExisting) {
            $('.se-form').each((idx, el) => {
                if (idx >= numExisting) {
                    $(el).hide();
                }
            });
        }

        $(function() {
            $('#add_se').click((event) => {
                event.preventDefault();
                let hidden = $('.se-form:hidden');
                hidden.last().show();

                if (hidden.length - 1 <= 0) {
                    $('#add_se').hide();
                }
            });
            $('#id_languages').select2();
        });
    </script>

    <style>
        .se-form {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            column-gap: 20px;
            box-sizing: border-box;
            justify-content: center;
        }
        .se-form p {
            display: flex;
            gap: 10px;
        }

        .se-form label {
            font-weight: bold;
        }

        .se-form label, .se-form input {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% trans 'participants:update:header' %}
        </h1>
        <p>
            {% trans 'participants:update:info_text' %}
        </p>
        <form method="post" class="uu-form uu-form-no-gap">
            {% csrf_token %}
            {{ form }}
            <div class="row justify-content-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="submit">{% trans 'main:globals:save_button' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
