{% load i18n %}
<style>
    details summary {
        text-decoration: underline;
        list-style: none;
    }
    details[open] summary {
        display: none;
    }
</style>
<h2>{% translate "participants:detail:extradata" %}</h2>
<table class="dt_custom" width="100%">
    <thead>
        <tr>
            <th width="40%">
                {% translate 'participants:detail:extradata:title' %}
            </th>
            <th>
                {% translate 'participants:detail:extradata:content' %}
            </th>
        </tr>
    </thead>
    {% for datum in participant.extradata_set.all %}
        <tr>
            <td>
                {{ datum.title }}
            </td>
            <td>
                <details>
                    <summary>{% translate "participants:detail:extradata:click" %}</summary>
                    {{ datum.content }}
                </details>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'participants:extradata.add' participant.pk %}">
    {% translate 'participants:detail:extradata:new' %}
</a>
