{% extends "vue/base.html" %}
{% load vue3 %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'participants:home:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
<style>
    .deactivated, .deactivated a {
        color: #aaa !important;
    }
</style>
<div class="uu-inner-container">
    <div class="col-12">
        <h1>
            {% trans 'participants:home:header' %}
        </h1>
        <p>
            {% trans 'participants:home:info_text' %}
        </p>
        <table class="dt" width="100%" data-language="{% datatables_lang %}">
            <thead>
                <tr>
                    <th> {% get_verbose_field_name "participants" "Participant" "name" %} </th>
                    <th> {% get_verbose_field_name "participants" "Participant" "birth_date" %} </th>
                    <th> {% trans 'participants:age' %} </th>
                    <th> {% get_verbose_field_name "participants" "Participant" "sex" %} </th>
                    <th> {% get_verbose_field_name "participants" "Participant" "phonenumber" %} </th>
                    <th> {% get_verbose_field_name "participants" "Participant" "multilingual" %} </th>
                    <th> {% get_verbose_field_name "participants" "Participant" "created" %} </th>
                    {# The data-priority makes sure this column is always visible #}
                    <th data-priority="1">
                        {% trans 'participants:globals:actions' %}
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for participant in object_list %}
                    <tr {% if participant.deactivated %}class="deactivated"{% endif %}>
                        <td>
                          <a href="{% url 'participants:detail' participant.pk %}">{{ participant.fullname }}</a>
                        </td>
                        <td> {{ participant.birth_date|date:'Y-m-d' }} </td>
                        <td> {{ participant.age }} </td>
                        <td> {{ participant.get_sex_display|default_if_none:"" }} </td>
                        <td> {{ participant.phonenumber }} </td>
                        <td> {{ participant.multilingual|yesno:_('options:yes,no') }} </td>
                        <td> {{ participant.created|date:'Y-m-d' }} </td>
                        <td>
                            <a href="{% url 'participants:edit' participant.pk %}"
                               class="icon-update" title="{% trans 'participants:home:update:title'  %}" > </a>
                            {% if request.user.is_staff %}
                                {% if not participant.deactivated %}
                                    <a href="{% url 'participants:delete' participant.pk %}" class="icon-delete"
                                       title="{% trans 'participants:home:delete:title' %}"></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
</div>
{% endblock %}
