{% extends 'mail/base_new.html' %}

{% block banner %}
    Link voor Babylabportaal
{% endblock %}

{% block content %}
    <p>Beste {{ addressee }},</p>
    <p>
        U wilt inloggen bij het Babylabportaal. U kunt hier uw contactgegevens aanpassen en u kunt uw deelnemende kind(eren) aanmelden of afmelden voor onderzoeken van het Babylab voor Taalonderzoek.
    </p>
    <p>
        U kunt inloggen via <a href="{{ base_url }}auth/{{ link_token }}">deze link</a>. Deze link is 24 uur geldig.
    </p>
    <p>
        Als deze link niet werkt, kopieer dan deze link naar uw browser:
        {{ base_url }}auth/{{ link_token }}
    </p>
    <p>
        Mocht de link verlopen zijn, dan kunt u opnieuw een verzoek tot aanpassen doen via het <a href="https://www.babylabportaal.ilslabs.hum.uu.nl/">Babylabportaal</a>. Mocht u verder nog vragen of opmerkingen hebben, dan kunt u contact met ons opnemen via
        <a href="mailto:babylab.ilslabs@uu.nl">babylab.ilslabs@uu.nl</a>.
    </p>
    <p>
        Vriendelijke groet,<br>
        Het team van het Babylab voor Taalonderzoek
    </p>
{% endblock %}
