{% extends 'mail/base_new.html' %}

{% block banner %}
    Link voor Babylabportaal
{% endblock %}

{% block content %}
    <p>Beste {{ addressee }},</p>
    <p>
        U wilt inloggen bij het Babylabportaal. U kunt hier:
        <ul>
            <li> uw afspraken zien; </li>
            <li> uw kind(eren) uitschrijven.</li>
        </ul>
    </p>
    <p>
        U kunt inloggen via <a href="{{ base_url }}auth/{{ link_token }}">deze link</a>. Deze link is 24 uur geldig.
    </p>
    <p>
        Als deze link niet werkt, kopieer deze link dan naar uw browser:
        {{ base_url }}auth/{{ link_token }}
    </p>
    <p>
        Mocht de link verlopen zijn, dan kunt u het opnieuw proberen via het <a href="https://www.babylabportaal.ilslabs.hum.uu.nl/">Babylabportaal</a>. Mocht u verder nog vragen of opmerkingen hebben, dan kunt u contact met ons opnemen via
        <a href="mailto:babylab.ilslabs@uu.nl">babylab.ilslabs@uu.nl</a>.
    </p>
    <p>
        Vriendelijke groet,<br><br>
        Het team van het Babylab voor Taalonderzoek
    </p>
{% endblock %}
