{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load include_if_exists %}
{% load menu %}
{% load transformat %}

{% block uu-header %}
{% get_current_language as LANGUAGE_CODE %}
    <div class="uu-header-row">
        <div class="uu-logo">
            {% with 'cdh.core/images/logo-header-'|add:LANGUAGE_CODE|add:'.svg' as header_image %}
                <a href="https://www.uu.nl" target="_blank">
                    <img src="{% static header_image %}" alt="{% trans 'cdh.core:uu' %}"
                         title="{% trans 'cdh.core:uu' %}"/>
                </a>
            {% endwith %}
        </div>
        <div class="text-center d-flex flex-column ms-auto me-auto">
            <div class=" uu-header-title">
                <a href="//{{ request.META.HTTP_HOST }}">
                    {% trans 'site:header:title' %}
                </a>
            </div>
            <div class="text-red fw-bold">
                {% if request.user.is_impersonate %}
                    <span class="icon-warning">⚠</span>
                    Impersonating user -
                    <a href="{% url 'impersonate-stop' %}" class="uu-red-text">Stop</a>
                    <span class="icon-warning">⚠</span>
                {% elif acceptation %}
                    <span class="icon-warning">⚠</span>
                    Acceptation server
                    <span class="icon-warning">⚠</span>
                {% elif debug %}
                    <span class="icon-warning">⚠</span>
                    Local development server
                    <span class="icon-warning">⚠</span>
                {% endif %}
            </div>
        </div>

        {% if request.user.is_authenticated %}
            <div class="border-left ps-3 pe-3">
                {% with request.user as user %}
                    {% transformat "site:header:login" user.first_name %}
                    &nbsp;
                    <a href="{% url 'main:logout' %}" class="text-decoration-underline">({% trans 'main:globals:logout' %})</a>
                {% endwith %}
            </div>
        {% endif %}

        <div class="border-left ps-3">
            <form method="post" action="{% url 'set_language' %}" class="inline language-form">
                {% csrf_token %}
                {% if LANGUAGE_CODE == 'nl' %}
                    <input type="hidden" name="language" value="en">
                    <button type="submit" name="submit_param" value="submit_value">
                        {% trans 'lang:en' %}
                    </button>
                {% else %}
                    <input type="hidden" name="language" value="nl">
                    <button type="submit" name="submit_param" value="submit_value">
                        {% trans 'lang:nl' %}
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
