{% load i18n %}
{% load display_threshold %}
{% load transformat %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#collapse-invites">
                {% trans 'datamanagement:home:invites:header' %}
                ({{ invites|length }})
            </a>
        </h5>
    </div>
    <div id="collapse-invites" class="panel-collapse collapse">
        <div class="panel-body">
            <h3>
                {% trans 'datamanagement:home:invites:header' %}
            </h3>
            <p>
                {% threshold invites as invites_threshold %}
                {% transformat 'datamanagement:home:invites:info_text' invites_threshold %}
            </p>
            <table class="w-100 dt">
                <thead>
                <tr>
                    <th class="w-50">
                        {% trans 'datamanagement:global:experiment' %}
                    </th>
                    <th class="w-50">
                        {% trans 'datamanagement:global:num' %}
                    </th>
                    {# We use 50/50/x width to make the actions column as small as possible #}
                    <th>
                        {% trans 'datamanagement:global:actions' %}
                    </th>
                </tr>
                </thead>
                {% for experiment, num in invites %}
                    <tr>
                        <td>
                            <a href="{% url 'experiments:detail' experiment.pk %}">
                                {{ experiment }}
                            </a>
                        </td>
                        <td>
                            {{ num }}
                        </td>
                        <td>
                            <a href="{% url 'datamanagement:delete_invites' experiment.pk %}"
                               title="{% trans 'datamanagement:home:delete_invites' %}"
                               class="icon-delete delete-invites"
                            >
                                
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
